/* Common */
html {
    scroll-behavior: smooth;
}

p {
    font-size: .85em;
    color: #484848;
    font-family: "Open Sans";
}

img {
    max-width: 100%;
}

section ul,
section ol {
    font-size: .85em !important;
    color: #484848 !important;
    font-family: "Open Sans" !important;
    padding-left: 2em;
}

/* Section */
.section-title {
    font-family: "Francois One";
}

.section-title span {
    font-size: 1.2em;
}

/* Marketing */
#marketing {
    padding-top: 5em;
    padding-bottom: 5em;
    position: relative;
    background: rgb(254, 254, 254);
}

#marketing .section-title span {
    color: #C6A530;
}

#marketing .marketing-title-service {
    font-weight: bold;
    font-family: "Open Sans";
    font-size: 1.28em;
}

#marketing .marketing-title-service small {
    font-weight: 600;
    font-size: .75em;
    line-height: 1.5em;
}

#marketing:before {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    bottom: 0;
    background-image: url("../img/dot.svg");
    opacity: .35;
    background-size: 150px;
}

#marketing:after {
    content: '';
    width: 100px;
    height: 150px;
    position: absolute;
    right: 100px;
    bottom: 20%;
    background-image: url("../img/dot.svg");
    opacity: .35;
    background-size: 150px;
}

/* Autodesk */
#autodesk {
    padding-top: 5em;
    padding-bottom: 5em;
    position: relative;
}

#autodesk .section-title {
    font-family: "Francois One";
}

#autodesk .section-title span {
    color: #72C630;
}

#autodesk .autodesk-title-service {
    font-weight: bold;
}

#autodesk .accordion-autodesk .card-header {
    padding: 0px;
    border: none;
}

#autodesk .accordion-autodesk .card {
    border: none;
}

#autodesk .accordion-autodesk .card-header h2 button {
    font-weight: 600;
    font-family: "Open Sans";
    background-color: transparent !important;
}

#autodesk .accordion-autodesk .card-body {
    padding: 15px;
}

#autodesk .collapse-sub-title {
    display: block;
    color: #0F0F0F;
    font-weight: 600;
}

#autodesk .collapse-icon {
    width: 25px;
    display: inline-block;
    margin-right: 10px;
}

#autodesk .accordion-autodesk .card-header h2 button {
    vertical-align: middle;
}

#autodesk .accordion-autodesk .card-header {
    background-color: rgb(251, 251, 251);
    border-radius: 4px;
}

#autodesk:before {
    content: '';
    width: 55px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 20%;
    background-image: url("../img/dot.svg");
    opacity: .35;
    background-size: cover;
}

#autodesk:after {
    content: '';
    width: 150px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("../img/dot.svg");
    opacity: .35;
    background-size: cover;
}

/* Samsung */
#samsung {
    padding-top: 5em;
    padding-bottom: 5em;
    position: relative;
    background: rgb(254, 254, 254);
}

#samsung .section-title {
    font-family: "Francois One";
}

#samsung .section-title span {
    color: #132c90;
}

#samsung:before {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    bottom: 0;
    background-image: url("../img/dot.svg");
    opacity: .35;
    background-size: 150px;
}

#samsung:after {
    content: '';
    width: 100px;
    height: 150px;
    position: absolute;
    right: 100px;
    bottom: 20%;
    background-image: url("../img/dot.svg");
    opacity: .35;
    background-size: 150px;
}

/* Contact */
#contact {
    padding-top: 5em;
    padding-bottom: 5em;
}

#contact:before {
    content: '';
    width: 55px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 20%;
    background-image: url("../img/dot.svg");
    opacity: .35;
    background-size: cover;
}

#contact:after {
    content: '';
    width: 150px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("../img/dot.svg");
    opacity: .35;
    background-size: cover;
}

/* Footer */
footer {
    padding: 2em;
    padding-bottom: .25em;
}

footer .col-lg-3 p {
    position: relative;
    color: #212543;
    font-weight: bold;
}

footer .col-lg-3 p:before {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #212543;
    position: absolute;
    top: -10px;
}

footer .col-lg-9 {
    text-align: right;
}

footer .col-lg-9 a {
    display: inline-block;
    margin-right: 3px;
    transform: translateY(-10px);
}

footer .col-lg-9 a:last-child {
    display: inline-block;
    margin-right: 0px;
}

footer .col-lg-9 img {
    display: inline-block;
    height: 31px;
}

#home .home-title {
    font-family: "Francois One";
    font-size: 3em;
}

#home .home-title small {
    margin-top: 5px;
    font-family: "Open Sans";
    font-size: .45em;
    font-weight: bolder;
}

#home .home-feature-card {
    width: 300px;
    margin: 0px 20px;
    display: inline-block;
}

#home .home-feature-card h4.home-feature {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 1.1em;
}

#home {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#home .home-feature-cta {
    font-family: "Open Sans";
    font-size: .9em;
    font-weight: 600;
    color: #132c90;
}

#home .home-feature-logo img {
    height: 25px;
}

#home .home-feature-logo {
    margin-bottom: 15px;
}

#home .home-feature-card h4.home-feature {
    line-height: 1.5em;
    padding-top: 5px;
}